<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,160}</string>
                <key>spriteSourceSize</key>
                <string>{176,160}</string>
                <key>textureRect</key>
                <string>{{1,376},{176,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,195}</string>
                <key>spriteSourceSize</key>
                <string>{173,195}</string>
                <key>textureRect</key>
                <string>{{1,1},{173,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,176}</string>
                <key>spriteSourceSize</key>
                <string>{167,176}</string>
                <key>textureRect</key>
                <string>{{1,198},{167,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>44.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{1,554},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atlas1.png</string>
            <key>size</key>
            <string>{175,715}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:845e73dcd7e4b3d8665319410eb418de:0ebb9293726c46a92894cd206f0e06b4:19817690aca3d3703faa8e7c8e4b8d6d$</string>
            <key>textureFileName</key>
            <string>atlas1.png</string>
        </dict>
    </dict>
</plist>
